{% extends 'pages/base.html' %}

{% block content %}
<div class='container-fluid h-100'>
    <div class='row justify-content-center align-items-center'>
        <div class='col-lg' id='homepage'>

            <h1 class='text-center text-light mb-5 mt-5'>SAVESTS ADMIN</h1>
            <br><br><br>
            <div class='btndiv d-flex justify-content-center mt-5'>
                <a href="{% url 'admin-login' %}" class='btn btn-primary btn-lg homebtn mr-4'>Get Admin Login Details</a>
                <a  class='btn btn-primary btn-lg homebtn' href="{% url 'admin:index' %}"> Admin site </a>
            </div>
                
        </div>
    </div>


    <div class='row navbar navbar-fixed-bottom author'>
        <div class='col-lg'>
            <h4 class='author text-center text-muted'>Powered by Savests Tech Assessment</h4>
            <p class='text-center'><a href='https://www.savests.com' target='_blank'>www.savests.com</a></p>
        </div>
    </div>
</div>
 
{% endblock content %}