{% extends 'users/admin/User/chart_list.html' %}


{% block footer %}
<div style="margin-top: 0px">
  <div style="margin-left: 38px">
    <h2>Send out Emails</h2>
    <form action="send_bulk_mails/" id="mail" method="post">
      {% csrf_token %}
      <input type="text" name="subject" placeholder="Subject" /><br />
      <br />
      <textarea
        id="body"
        cols="60"
        rows="7"
        name="body"
        placeholder="Compose your mail"
      ></textarea
      ><br />
      <button
        style="
          background-color: rgb(81, 120, 179);
          color: white;
          margin-top: 5px;
          padding: 5px;
        "
        type="submit"
        class="send_email_btn"
      >
        Send Email
      </button>
    </form>
  </div>
</div>
<br />

<!-- Render the rest of the ChangeList view by calling block.super -->
{{ block.super }} 

{% endblock %}
