{% extends 'admin/change_list.html' %}

{% block object-tools %}


<div class=row>
    <div style="margin-left: 38px;">
        <h4>Send out Emails</h4>
        <form action='send_bulk_mails/' id="mail" method="post">
            {% csrf_token %}
            <input type="text" name="subject" placeholder="Subject"><br> <br>
            <textarea id="body" cols="60" rows="7" name="body" placeholder="Compose your mail"></textarea><br>
            <button style="background-color: rgb(81, 120, 179); color: white; margin-top: 5px; padding: 5px;"
                type="submit" class='send_email_btn'>Send
                Email</button>
        </form>
    </div>

</div>
<br />
{{ block.super }}
{% endblock %}